$ontraq-color: #5e679d;
$ontraq-font-color: #29357c;

$parent-line-color: #badc8a;
$parent-line-font-color: #a3d063;

$white: #fff;
$black: #000;
$light-gray: #dddddd;
$lighter-gray: #fafafa;
$font-color: #707070;
$drop-shadow-color: #00000029;
